@import "tailwindcss";

:root{
    font-family: 'Valty DEMO', sans-serif;
}

@font-face {
    font-family: 'Valty DEMO';
    src: url('/src/assets/fonts/Valty\ DEMO.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  
  body {
    
  }
  